*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, 5fr);
    grid-template-rows: repeat(3, 6fr);
    gap: 10px;
    width: 90vw;
    height: 90vh;
   padding: 70px;
}
.item{
    border: 2px solid black;
}
.item1{
    background-color: lightcoral;
}
.item2{
    background-color: rgb(145, 240, 128);
}
.item3{
    background-color: rgb(128, 160, 240);
}
.item4{
    background-color: rgb(240, 230, 39);
}
.item5{
    background-color: rgb(128, 240, 223);
}
.item6{
    background-color: rgb(17, 13, 237);
}
.item7{
    background-color: rgb(11, 168, 221);
}
.item8{
    background-color: rgb(18, 228, 154);
}
.item9{
    background-color: navajowhite;
}
.item10{
    background-color: rgb(24, 155, 153);
}
.item11{
    background-color: darkorchid;
}
.item12{
    background-color: cornflowerblue;
}
.item13{
    background-color: springgreen;
}
.item14{
    background-color: darkred;
}
.item15{
    background-color: plum;
}
.item16{
    background-color: deeppink;
}
.item17{
    background-color: rgb(247, 147, 17);
}
.item18{
    background-color: forestgreen;
}
.item19{
    background-color: grey;
}
.item20{
    background-color: lightcoral;
}
@media (max-width: 600px){
    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(19, 5fr);
        padding: 20px;
    }
    .item{
        height: 10vh;
    }
}